 header{
    width: 1500px;
        
            background-color: green;
            border: 1px solid;
            padding-left: 1000px;

            color: white;

 }
 
 
 
 
 nav{
    width:1300px;
    height:50px;
    background-color: antiquewhite;
    padding-left:80px;
    padding-top:50px;

}
a{
    text-decoration: none;
    font-size: 20px;
    margin-left:80px;
    color:black;
}
.vamsi{
    display: flex;
}
footer{
    display:flex;
}